*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
::after{
    box-sizing: border-box;
}
::before{
    box-sizing: border-box
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FEE433;
}
.wrapper{
    width: 100%;
    height: 165px;
    position: relative;
}
.nose{
    width: 0;
    height: 0;
    border: 22px solid ;
    border-width: 20px 22px;
    border-color: black transparent transparent transparent;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 28px;
    transform: translate(-50%);
}

.eye{
    width: 49px;
    height: 49px;
    border-radius: 50%;
    background: #2E2E2E;
    position: absolute;
    border: 2px solid black;
}
.eye::before{
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background: white;
    position: absolute;
    border-radius: 50%;
    border: 1px solid black;
    left: 5px;
}
.eye.left{
    right: 50%;
    margin-right: 90px;
}
.eye.right{
    left: 50%;
    margin-left: 90px;
}
.face{
    width: 68px;
    height: 68px;
    border: 2px solid black;
    background: #FC0D1C;
    border-radius: 50%;
    position: absolute;
    top: 85px;
}
.face.left{
    right: 50%;
    margin-right: 115px;
}
.face.right{
    left: 50%;
    margin-left: 115px;
}
.upperLip{
    width: 64px;
    height: 20px;
    border: 2px solid black;
    border-top: none;
    position: absolute;  
    top: 60px;
    background: #FEE433;
}
.upperLip.left{
    right: 50%;
    border-bottom-left-radius: 40px 25px;
    border-top: none;
    border-right: none;
    transform: rotate(-25deg);
}
.upperLip.right{
    left: 50%;
    border-bottom-right-radius: 40px 25px;
    border-top: none;
    border-left: none;
    transform: rotate(25deg);
}
.lowerLip-wrapper{
    height: 130px;
    width: 139px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    z-index: -1;
    bottom: -30px;
    overflow: hidden;
    border-radius: 40%;
}
.lowerLip{
    width: 139px;
    height: 900px;
    background: #990513;
    border-radius: 100px/500px;
    border: 2px solid black;
    position: absolute;
    bottom: 0px;
    z-index: -1;
    overflow: hidden;
}
.lowerLip::after{
    content: "";
    position: absolute;
    width: 110px;
    height: 110px;
    background: #Fc4a62;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
    border-radius: 45%;

}